<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>enovate</name>
    <displayName><![CDATA[ENOVATE]]></displayName>
    <version><![CDATA[1.0.2]]></version>
    <description><![CDATA[integration with ENOVATE APIs]]></description>
    <author><![CDATA[ENOVATE]]></author>
    <tab><![CDATA[billing_invoicing]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>